/* xs */
@media (min-width: 475px) {
    footer {
        margin-top: 1%;
    }

    img {
        -webkit-user-drag: none;
    }

    .content {
        margin-top: 1%;
        color: #fff;
        text-align: center;
        font-size: 25px;
    }

    .move {
        display: inline;
        align-items: center;
        justify-content: center;
    }

    .content h1 {
        font-size: 50px;
    }

    .basics {
        color:#fff;
        text-align: center;
        background-color: #525252;
        height: 2250px;
        margin-top: -22%;
        font-size: 25px;
    }

    .basics2 {
        color:#fff;
        text-align: center;
        background-color: #525252;
        height: 950px;
        margin-top: -22%;
        font-size: 25px;
    }

    #scramble-img {
        width: 400px;
        height: 300px;
    }

    .basics h1 {
        font-size: 60px;
    }

    .anti-moves {
        color:#fff;
        text-align: center;
        height: 2250px;
        margin-top: -20%;
        font-size: 25px;
    }

    .anti-moves h1 {
        font-size: 60px;
    }

    

    .spacer img{
        aspect-ratio: 960/300;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        margin-top: -1%;
    }

}

/* sm */
@media (min-width: 640px) {}
    
/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {
    .move {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .basics {
        color:#fff;
        text-align: center;
        background-color: #525252;
        height: 500px;
        margin-top: -22%;
        font-size: 25px;
    }

    .anti-moves {
        color:#fff;
        text-align: center;
        height: 500px;
        margin-top: -20%;
        font-size: 25px;
    }

    .basics2 {
        color:#fff;
        text-align: center;
        background-color: #525252;
        height: 700px;
        margin-top: -22%;
        font-size: 25px;
    }
}

/* 2xl */
@media (min-width: 1536px) {}