footer {
    margin-top: 10.8%;
}

.jumpa {
    margin: 1%;
    color: #fff;
}

.toggle-icon {
    cursor: pointer;
    width: 64px;
    height: 64px;
    margin-top: 0.5%;
}

#infoF2L {
    border: 2px solid #fff;
    width: auto;
    height: 80px;
}

.boxG {
    background-color: rgb(82,82,82);
}


img {
    -webkit-user-drag: none;
}

.button {
    background-color: lightgray;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
}